@import "./normalize.css";

:root {
  --editor-width: 840;
  --editor-height: 1236;
  --editor-gap: 50px;
  --editor-width-px: calc(var(--editor-width) * 1px);
  --editor-padding-block: 5vh;
  --editor-padding-inline: 5vw;
}
